body {
    background-color: #3D312E;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
    min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
    max-height: 750px;
}

/* heading */
.name {
    max-width: 1200px;
    display: flex;
    margin: auto;
    height: 2.7em;
    padding:0 10px;
}

.name h2 {
    margin-left: auto;
}

h1, .name h2 {
    margin-top: 15px;
    font-weight: 300;
    font-size: 24px;
}

/* banner */
#banner {
    width: 1200px;
    height: 250px;
    margin: 10px auto;
    background-color: #B1ECF5;
    position: relative;
    overflow: hidden;
}

#banner p {
    font-family: "Yuji Boku", serif;
    font-weight: 400;
    font-style: normal;
    color:#3D312E;
    font-size: 100px;
    margin-top: 0;
    padding-top: 60px;
    text-align: center;
}

#banner img {
    opacity:0;
    position: absolute;  
    transition: all 2s ease-out; 
}

.treeLeft {
    left:-100px;
}

.treeRight {
    right:-100px;
}

.en {
    position:absolute;
    left:430px;
    animation: rotation1 10s infinite linear;
}

.jp {
    position:absolute;
    top:0;
    left:450px;
    animation:rotation2 10s infinite linear;
}

#banner:hover {
    cursor: pointer;
}

#banner:hover .treeLeft {
    opacity:1;
    left:0;
}

#banner:hover .treeRight {
    opacity:1;
    right:0;
}

@keyframes rotation1 {
    0% {
        transform: rotateX(0deg) translateY(0px);
        opacity:1;
    }
    40% {
        transform: rotateX(0deg) translateY(0px);
        opacity: 1;
    }
    50% {
        transform: rotateX(90deg) translateY(200px);
        opacity:0;
    }
    90% {
        transform: rotateX(270deg) translateY(0px);
        opacity:0;
    }
    100% {
        transform: rotateX(0deg) translateY(0px);
        opacity:1;
    }
}

@keyframes rotation2 {
    0% {
        transform: rotateX(90deg) translateY(200px);
        opacity:0;
    }
    40% {
        transform: rotateX(270deg) translateY(0px);
        opacity:0;
    }
    50% {
        transform: rotateX(0deg) translateY(0px);
        opacity:1;
    }
    90% {
        transform: rotateX(0deg) translateY(0px);
        opacity: 1;
    }
    100% {
        transform: rotateX(90deg) translateY(200px);
        opacity:0;
    }
}

/* main */
main {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;  
}

main section {
    flex: 1;
    background-color: #AA644B;
    margin-top: 20px;
    height: 350px;
    position: relative;
    overflow: hidden;
}

main section h2 {
    text-align: center;
}

main section ul {
    list-style-type: none;
    margin-left: 0;
    padding:0 10px;
    position: absolute;
    z-index: 1;
    top:30px;
    width: 100%;
}

main section ul li {
    margin-top: 30px;
    width: 90%;
    padding-right: 10px;
}

main section ul li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    line-height: 1.5em;
}

main section:hover {
    background-color: #B1ECF5;
    color: #3D312E;
}

main section:hover ul li a {
    color: #3D312E;
}

main section ul li a:hover{
    background-color: #43BA7B;
    color: #fff;
}

main section img {
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 0;
    opacity: 0;
    transform-origin: bottom left;
}

main section:hover img {
    opacity:1;
    animation: wind 3s alternate infinite ease-in-out;
}

@keyframes wind {
    from{transform: rotateZ(-5deg);}
    to{transform: rotateZ(5deg);}
}

/* footer */
footer {
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

footer a {
    text-decoration: none;
    color: #B1ECF5;
    padding-top: 5px;
}