body {
    padding: 0;
    background-color: royalblue;
    color: midnightblue;
    font-family: "Commissioner", sans-serif;
    font-weight: 300;
}

#container {
    position: relative;
    max-width: 1200px;
    max-height: 750px;
    width: 100vw;
    height: 100vh;
    background-color: paleturquoise;
    margin:0 auto;
    padding: 0;
}

header {  
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h1 {  
    margin: 0;
    padding-top: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

/* -------- Area setup -------- */

.areaBox, .textBox {
    position:absolute;
    border: 2px solid midnightblue;
}

#trophyArea {
    top: 15%;
    left: 5%;
    width: 200px;
    height: 140px;
}

#standArea {
    top: 40%;
    left: 5%;
    width: 200px;
    height: 140px;
}

#cardArea {
    bottom: 5%;
    left: 15%;
    width: 60%;
    height: 200px;
}

#keyArea {
    bottom: 5%;
    right: 10%;
    width: 150px;
    height: 200px;
}

#playArea {
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 320px;    
}

#deckArea.areaBox {
    right: 15%;
    top: 25%;
    height: 200px;
    width: 150px;
}

/* img {
    display: none;
} */

/* ----- images ------- */

/* #card1.flipped {
    animation: flipBack 1s ease-out 2s;
} */

#card1.set, #card1.flipped{
    display: block;
    width: 120px;
    height: 180px;
    position: absolute;
    top: 70%;
    left: 16%;
}

/* #card2.flipped {
    
} */

#card2.set, #card2.flipped {
    display: block;
    width: 120px;
    height: 180px;
    position: absolute;
    top: 70%;
    left: 28%;
}

/* #card3.flipped {
    animation: flipBack 1s ease-out 2s;
} */

#card3.set, #card3.flipped {
    display: block;
    width: 120px;
    height: 180px;
    position: absolute;
    top: 70%;
    left: 40%;
}

/* #card4.flipped {
    
    animation: flipBack 1s ease-out 2s;
} */

#card4.set, #card4.flipped {
    display: block;
    width: 120px;
    height: 180px;
    position: absolute;
    top: 70%;
    left: 52%;
}

/* #card5.flipped {

    animation: flipBack 1s ease-out 2s;
} */

#card5.set, #card5.flipped {
    display: block;
    width: 120px;
    height: 180px;
    position: absolute;
    top: 70%;
    left: 64%;
}

/* #card6.flipped {

    animation: flipBack 1s ease-out 2s;
} */

#card6.set, #card6.flipped {
    display: block;
    width: 120px;
    height: 180px;
    position: absolute;
    top: 70%;
    left: 78%;
}

#card7.set, #card7.flipped {
    display: block;
    position: absolute;
    top: 12%;
    left: 8%;
    height: 180px;
    width: 120px;
    transform: rotateZ(90deg);
}

#card8.set, #card8.flipped {
    display: block;
    position: absolute;
    top: 37%;
    left: 8%;
    height: 180px;
    width: 120px;
    transform: rotateZ(90deg);
}

.inPlay {
    display: block;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 300px; 
}

.inDeck {
    display: block;
    position: absolute;
    left: 73.5%;
    top: 27%;
    height: 180px;
    width: 120px;
}

/* turn on animation once javascript is ready */
.flipped {
    transition: all 1s ease;
    animation: flipBack 1s ease-out 1s;
}

.inPlay {
    transition: all 1s ease;
    animation: flipCard 1s ease-out 1s;
}

.set {
    transition: all 2s ease-out;
}

/* separate set of animation for cards that are placed sideways */
#card8.flipped, #card7.flipped {
    animation: flipSide 1s ease-out 1s;
}

@keyframes flipCard {
    0% {
        transform: rotateY(0deg) translateX(-50%);
    }
    50% {
        transform: rotateY(90deg) translateX(-100%);
    }
    100% {
        transform: rotateY(0deg) translateX(-50%);
    }
}

@keyframes flipBack {
    0% {
        transform: rotateX(0deg);
    }   
    50% {
        transform: rotateX(90deg);
    }   
    100% {
        transform: rotateX(0deg);
    }   
}

@keyframes flipSide {
    0% {
        transform: rotateX(0deg) rotateZ(90deg);
    }   
    50% {
        transform: rotateX(90deg) rotateZ(90deg);
    }   
    100% {
        transform: rotateX(0deg) rotateZ(90deg);
    }   
}

/* -------- text boxes---------- */
section {
    display: block;
    position: absolute;
    background-color: lightsteelblue;
    width: 25%;
    min-height: 33%;
    transition: left 1s ease 1s;
    top: 22%;  
    font-size: 18px;
    line-height: 1.3em;
    padding: 0;
    margin: 0;
}

.textInPlay {
    left: 65%;   
}

.textOut {
    left: 100vw;
}

section p {
    padding: 10px;
    padding-top: 0;
}